body {
    background-image: url("/assets/images/background2.jpg");
    padding-top: 70px;
}

/* #navbar {
    background-color: brown;
} */

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

/* #saved-jumbo {
    background-image: url("/assets/images/you-are-here.png");
} */
